.btn-pdt{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s;
    background-color:#31B0D5;
    color:white;
    border-radius:20px;
    position: fixed;
    bottom: 1px;
    right: 2%;
}