* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    margin-top:10px;
    display:flex;
    justify-content:center;
}


span{
    position: absolute;
    margin-right: -15px;
    margin-left:4px;
    margin-top: 7px;
    font-weight:500;
}

.percent{
    position: absolute;
    margin-left:70%;
    margin-top: 7px;
    font-weight:500;
}

.placeholder{
    text-align: center;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s;
    background-color:#31B0D5;
    color:white;
    border-radius:20px;
    position: fixed;
    bottom: 50px;
    right: 5%;
}

.clear-btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s;
    background-color:#31B0D5;
    color:white;
    border-radius:20px;
    position: fixed;
    bottom: 42px;
    right: 20px;
}

.Toastify__toast-container{
    z-index: 111111111;
}

